
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.header{
background-color:rgb(29, 91, 249); 
}

fakeimg{
    background-color: #10002b;
    
}

.fakeimg1{
    background-color: aqua;
}
.fakeimg2{
    background-color:black;
}
.fakeimg3{
    background-color: blueviolet;
}

.index4_footer {
    bottom: 0;
    width: 100%;
    height:52px;
}

.index_db_callbox{
    position: fixed;
    border : 2px solid;
    color : rgb(249, 247, 246);
    right: 0;
    bottom: 0;
    font-size: 14px;
    z-index: 9;
    border-radius: 100px;
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.index_db_callbox img {
    width: 26px;
    margin-right: 5px;
    vertical-align: middle;
  }
  img {
    border: 0;
  }

  element {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    list-style: none;
}

.index_db_callbox_cont{
    padding: 5px 15px;
    background: #10002b;
    border-radius: 100px;
}

/* navbar */
.navbar{
background-color: #f3f3f3;
}


    .container {
        margin-top: 30px;
    }
    .dropdown-toggle,
    .dropdown-menu {
        border-radius: 0px !important;
    }
    .dropdown-item:hover {
        color: white;
  
    }
    .btn-danger {
        width: 55%;
    }
    .dropdown:hover>.dropdown-menu {
      display: block;
    }


.navbars{
    display: flex;
	justify-content: space-around;
	align-items: center;
    /* opacity: 0.7; */
	position: fixed;
        width: 100%;
	font-family: 'Ubuntu', sans-serif;
}

.navbars.sticky{
  display: flex;
justify-content: space-around;
align-items: center;
  background-color: #10002B;
  /* opacity: 0.7; */
position: fixed;
      width: 100%;
font-family: 'Ubuntu', sans-serif;
z-index: 2;
}

.navigation{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
text-decoration:none;
}

.navigation>li{
  padding: 10px;
  text-transform: uppercase;
  text-decoration:none;
}

.navigation>li:hover{
    background-color: white;
    color: #3c609c;
    border-radius: 5px;
}

.navigation> li > a.active {
    color: #000;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    text-decoration:none;
}


/* -navbar- */

/* InUp */
.InUp{
  align-items: center;
  display: flex;
  flex-direction: row;
  color: white;
}

.In.sticky{
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
}

.In{
  background-color: #3c609c;
  border-radius: 5px;
  padding: 5px;
}

.In:hover{
  background-color: white;
  color: #3c609c;
  border-radius: 5px;
}

.imgNavbar{
  width: 100px;
  height: 100px;
}

.imageSlider{
  width: 100%;
  height: 100%;
  align-items: center;
  
}
/* -InUp-*/


.active{
  background-color: white;
  color: #3c609c;
  border-radius: 5px;
}

.upNav{
    background: white;
}

.icon{
    width: 40%;
    display: block;
    height: auto;
    overflow-y: inherit;
    overflow-x: hidden;
}

.imgS{
    vertical-align: middle;
    border-style: none;
}

.banner-desktop{
    height: 300px;
    display: block;
}

.homepage-banner {
    width: auto;
    margin: 0 auto;
}

.serviceImg{
    height: 30%;
    display: block;
    width: auto;
    margin: auto;
    border-style: none;
}

.index_db_txtbox {
    position: fixed;
    bottom: -500px;
    background: #f1f1f1;
    right: 0;
    width: 320px;
    z-index: 10;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .index_db_txtbox.in {
    bottom: 0;
    z-index: 999;
  }

  .index_db_txtbox_headimg {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .index_db_txtbox_imgbox {
    position: absolute;
    top: 17px;
    left: 14px;
    right: 0;
  }

  .index_db_txtbox_imgbox > div {
    position: absolute;
    color: #fff;
    left: 86px;
    top: 4px;
    right: 40px;
    text-size-adjust: 8px;
  }

  .index_db_txtbox_imgbox > div >h2{
    font-size: 25px;
  }

  .index_db_txtbox_imgbox > div >p{
    font-size: 14px;
    margin-bottom: 10px;
  }

  .index_db_textbox_cont {
    font-size: 14px;
    margin-top: -25px;
    background-color: #f1f1f1;
    position: relative;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    z-index: 2;
    padding-top: 10px;
  }

  .index_db_textbox_item {
    margin: 10px 14px 0;
    padding: 7px 12px;
    background: #fff;
    border-radius: 8px;
   
  }

  .index_db_textbox_tip {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .index_db_txtbox_imgbox img {
    width: 72px;
  }

  .index_db_icon {
    margin-top: 10px;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -65px;
  }

  .index_db_icon img{
    width: 29px;
  }

  .message_2, .message_4 {
    padding: 1px;
    background-color: #f3f3f3;
  }

  .messagepage_content_box{
    box-sizing: border-box;
  }

  .kjxx_box{
    width: auto;
    max-width: 960px;
    margin: 13 px;
  }

  .kjxx_cont{
    min-height: 480px;
    background-color: #fff;
    position: relative;
  }

  .clear_b::after {
    content: '';
    height: 0;
    display: block;
    clear: both;
  }

  .kjxx_2 {
    padding: 0 25px;
    min-height: 600px;
    margin-top: 80px;
  }

  .pos_r {
    position: relative;
  }

  * {
    border: 0;
    margin: 0;
      margin-top: 0px;
    padding: 0;
    font-family: helvetica;
    list-style: none;
  }

  .jinzhi_bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }

  .wxwp0_list {
    right: auto;
    left: 30px;
    text-align: left;
  }

  .wxwp_list, .wxwp0_list {
    position: absolute;
    right: 25px;
    bottom: 40px;
    width: 40%;
    color: #fff;
    text-align: right;
  }

  .wxwp0_list > li::after {
    right: auto;
    left: 0;
  }

  .wxwp_list > li::after, .wxwp0_list > li::after {
    content: '';
    height: 13px;
    width: 13px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -5px;
  }

  .wxwp_list > li, .wxwp0_list > li {
    font-size: 14px;
    cursor: pointer;
  }

  * {
    font-family: helvetica;
    list-style: none;
  }

  .imgC{
    width: 1500;
    height: 900;
  }

  /* CS */
  /* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  padding: 3px;
  background-color: #f1f1f1;
}


/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #10002b;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.index_db_close {
  width: 24px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  z-index: 3;
}

.container{
  position: static;
}

/* CS */


/* Top Navigation */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

footer{
  background-color: #10002B !important;
  position:static;
  bottom: auto;
  width: 100%;
  padding: 70px;
}

.box_inputdata{
	display: block;
	justify-content: space-around;
	align-items: center;
    /* opacity: 0.7; */

    width: 100%;
		
    padding-bottom: 20px;
	
}

.coba{

	align-items: center;
    background-color: #fff;
    /* opacity: 0.7; */
	-position: fixed;
        
	font-family: 'Ubuntu', sans-serif;
	box-shadow: 0px 15px 12px 2px #ddd;
    padding-bottom: 20px;
	width: 70%;
	padding: 20px;
	margin: 0 auto;
}

.input_data{
	display: flex;
	justify-content: space-around;
	align-items: center;
    background-color: #fff;
    /* opacity: 0.7; */
	-position: fixed;
        
	font-family: 'Ubuntu', sans-serif;
	-box-shadow: 0 2px 12px 2px #ddd;
    padding-bottom: 20px;
	width: 70%;
	padding: 20px;
	margin: 0 auto;
}

.input_data label{
	color: #000;
    -background: #10002B;
    box-shadow: none;
    -webkit-box-shadow: none;
	
}

.input_data input{
	display: inline-block;
    border-bottom: 1px solid;
    padding-bottom: 0;
    line-height: 70%;
}

.input_data:focus{
	display: inline-block;
    border-bottom: 1px solid;
    padding-bottom: 0;
    line-height: 70%;
}

.bj_cont_box btn {
	border-radius: 50%;
	font-size: 16px;
	background-color: #fff;
}

.btn:active {
  background-color: red;
  color: white;
border-radius: 30%;
}

.bj_table {
  width: 100%;
  table-layout: fixed;
  margin-top: 42px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #000;
  text-align: center;
  visibility: hidden;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: black;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
.bj_table th {
  font-weight: 400;
  height: 48px;
  vertical-align: middle;
  position: relative;
}
.bj_table th, .bj_table td {
  border-bottom: 1px solid #888;
}
.bj_table th:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 20px;
  background: #bbb;
  right: 0;
  bottom: 12px;
}
.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

.gzcx_box {
  padding: 42px 0;
  width: 820px;
  max-width: 1350px;
  margin: 0 auto;
}

.pos_r {
  position: relative;
}

element.style {
  margin-bottom: 10px;
}


.bill_inp {
  border-radius: 4px;
  -position: relative;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 12px 2px #ddd;
  padding: 5px 61px 5px 7px;

}

input {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}


.bill_inp input {
  display: inline-block;
  width: 100%;
  height: 22px;
  background-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  margin: 5px;
}
/* Box */

/* Map */
.map{
	position:relative;
	margin-bottom:40px;
}

.map iframe{
	width:100%;
	height:450px;
	border:none;
}

.map-grid iframe{
	width:100%;
	height:350px;
	border:none;
	margin:0 0 -5px 0;
	padding:0;
}

.bjcx_box {
  padding: 42px 50px;
}
/* Map */


.navbar_display {
  display : none;
}


.form-signin .form-floating:focus-within {
  z-index: 1;
}

.form-signin .form-floating{
  z-index: 1;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signup .form-floating{
  z-index: 1;
}

.form-signup input {
  border-radius: 0;
  margin-bottom: -1px;
}